legacy-peer-deps=true
# shamefully-hoist removed - deprecated in npm 9+
# added legacy-peer-deps to fix sentry warning 
# https://docs.sentry.io/platforms/javascript/troubleshooting/#pnpm-resolving-import-in-the-middle-external-package-errors
